<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/about.css">
</head>

<body>
    <header>
        {{>header}}
    </header>

    <form id="weatherform">
        <div id="title">
            Weather Page
        </div>
        <input type="text" placeholder="enter your location">
        <button>Submit</button>
    </form>
    <div>
        <p id="table1">your weather is</p>
    </div>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>