<div id="navbar">
        <div id="logo">
            <img src="../images/logo2.jpg" alt="logo">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact Us">Contact us</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
</div>