<div id="navbar">
    <div id="logo">
        <img src="/web-server/templates/images/logo2.jpg" alt="weather app">
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/help">Help</a></li>
        <li><a href="/about">About Us</a></li>
    </ul>
    <div id="creater">
        created by {{name}}
    </div>
</div>